*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


header{
    height: 18vh;
    width: 100%;
    margin-bottom: 1px solid gray;
}

.logo{
    height: 50px;
}

header .logo img{
    width: 5%;
    float: left; 
}

header .logo h3{
    float: left;
    font-weight: 100;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.25rem;
    color: gray;
}

img.account:last-of-type{
    border-radius: 50%;
    width: 2%;
    float: right;
    margin-right: 39px;
    margin-top: 20px;
}

nav{

}

nav ul{
    list-style-type: none;
    color: gray;
    display: flex;
    margin-left: 20px;

}

nav ul li{
    margin-right: 30px;
    font-size: 1.1rem;
}

hr{
    color: gray;
}

main{
    width: 60vw;
    margin: 0 auto

}

main h2{
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 40px;
}