*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


header{
    height: 13vh;
    width: 100%;
    border-bottom: 1px solid gray;
    position: fixed;
    background-color: white;
}

.logo{
    height: 50px;
}

header .logo img{
    width: 5%;
    float: left; 
    vertical-align: middle;
}

header .logo h3{
    float: left;
    font-weight: 100;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.25rem;
    color: gray;
    vertical-align: middle;
}

img.account:last-of-type{
    border-radius: 50%;
    width: 2%;
    float: right;
    margin-right: 39px;
    margin-top: 20px;
}

nav{

}

nav ul{
    list-style-type: none;
    color: gray;
    display: flex;
    margin-left: 20px;

}

nav ul li{
    margin-right: 30px;
    font-size: 1.1rem;
}

.container{
    padding-top: 150px;
}
main{
    width: 60vw;
    margin: 0 auto;

}

main h2{
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 40px;
}

.active{
    border-bottom: 5px solid blue;
    padding-bottom: 30px;
    color: blue;
}